.heroSectionBtn {
    @apply md:pl-5 lg:pr-5 lg:pb-3 lg:pt-3 ;
  @apply sm:pl-10 sm:pr-10 sm:pb-5 sm:pt-5;
   @apply bg-gray-800 text-white font-semibold; 
   @apply rounded-tl-xl rounded-tr-xl rounded-bl-xl rounded-br-xl;
   @apply hover:bg-white hover:text-black transition duration-300;
   
}
.heroSectionBtns {
    @apply md:pl-5 lg:pr-5 lg:pb-3 lg:pt-3 ;
  @apply sm:pl-10 sm:pr-10 sm:pb-5 sm:pt-5;
   @apply bg-white text-black font-semibold; 
   @apply rounded-tl-xl rounded-tr-xl rounded-bl-xl rounded-br-xl;
   @apply hover:bg-gray-800 hover:text-white transition duration-300;
   
}

.btn2{
    @apply font-bold text-red-500
}

.secondsectionImg{
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.templateImg{
    border-radius: 10px;
}