.heroSectionBtn {
    @apply pl-5 pr-5 pb-3 pt-3 ;
  /* @apply sm:pl-6 sm:pr-6 sm:pb-5 sm:pt-5; */
   @apply bg-gray-800 text-white font-semibold; 
   @apply rounded-tl-3xl rounded-tr-3xl rounded-bl-3xl;
   @apply hover:bg-white hover:text-black transition duration-300;
}

.btn2{
    @apply font-bold text-red-500
}

.secondsectionImg{
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.templateImg{
    border-radius: 10px;
}