/* @media screen and (max-width: 786px) {
    .text-5xl {
      font-size: 2rem;
    }
    .text-xl {
      font-size: 1.2rem;
    }
    .pl-10 {
      padding-left: 2rem;
    }
    .pr-10 {
      padding-right: 2rem;
    }
    .mb-20 {
      margin-bottom: 2rem;
    }
    .flex {
      flex-direction: column;
    }
  } */